body{
    font-family: "Nunito";
    color: white;
    background: rgb(214,45,120);
background: linear-gradient(90deg, rgba(214,45,120,1) 9%, rgba(47,160,225,1) 85%, rgba(0,212,255,1) 100%);
    box-sizing: content-box;
}
#conteiner{
    text-align: center;
}
.page{
    border-radius: 15px;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 28,33%;
    margin-top: 8%;
    margin-bottom: 3%;
    background-color: #e83283;
    opacity: 0.9;
    box-shadow: 6px 3px 10px #5e00ff33;
    padding-top: 13px;
    padding-bottom: 18px;
    float: left;
}
.toWrite{
    text-align: center;
}
.toClick{
    text-align: center;
    padding-top: 10px;
}
.elementOfList{
    min-height: 40px;
    border-radius: 15px;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    word-break: break-all;
    width: 80%;
    background-color: #f2b1cea6;
    opacity: 0.7;
    box-shadow: 6px 3px 10px #5e00ff33;
    margin: auto;
    margin-top: 1%;
}
